body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(rgb(138, 112, 241), rgba(71, 243, 255, 0.979));
  background-attachment: fixed;
  background-position: center;
}
/* CSS Pseudo Elements For Scrollbar Styling Start */
body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(230, 236, 238);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: linear-gradient(
    rgb(138, 112, 241),
    rgba(64, 228, 250, 0.938),
    rgba(245, 221, 9, 0.87)
  );
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-corner {
  border-radius: 15px;
  background: linear-gradient(rgb(138, 112, 241), rgba(245, 221, 9, 0.87));
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
/* CSS Pseudo Elements For Scrollbar Styling End */
.container {
  width: 520px;
  border-radius: 10px;
  background: #fff;
  padding: 50px;
  padding-bottom: 5px;
  margin: 5% auto 0;
  text-align: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

/* .container {
  width: 520px;
  background: rgb(255, 255, 255);
  padding: 45px;
  margin: 7% auto 0;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
} */
img {
  width: 170px;
}

.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}
.success {
  background: #6cdf9c;
  color: #409e67;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}
